/* General Adjustments */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --one: #1F2937;
    --two: #F9FAF8;
    --three: #E5E7EB;
    --four: #3882F6;
}

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Header Style */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--one);
    color: var(--two);
}

header>*,
.projects>*,
.two>*,
.three>* {
    width: 60%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    align-items: center;
}

header nav a {
    color: var(--two);
    font-size: 1.2em;
}

.logo img {
    width: 3.5em;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 3em;
}

header .about-me {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    margin-bottom: 5em;
    gap: 1em;
}

header .left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

header .left h1 {
    font-size: 2.3em;
    font-weight: 900;
    line-height: 1em;
}

header .left p {
    font-size: .9em;
    opacity: .8;
}

header .left button {
    border-radius: .5em;
    border: 1px solid var(--four);
    background-color: var(--four);
    width: 25%;
    height: 2em;
}

header .left button a {
    font-size: 1em;
    color: var(--two);
    font-weight: 700;
}

.about-me .right {
    position: relative;
    flex-basis: 50%;
}

.right img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* My Projects Section Style */

.projects {
    display: flex;
    flex-direction: column;
    background-color: var(--two);
    gap: 2em;
    padding-top: 1.5em;
    padding-bottom: 3.5em;
    justify-content: center;
}

.projects h2 {
    font-size: 2em;
    text-align: center;
}

.projects ul {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.item {
    width: 8em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .3em;

}

.item div {
    width: 8em;
    height: 8em;
    border-radius: 10%;
    border: 2px solid var(--four);
}

.item p {
    font-size: .8em;
    text-align: center;
}

/* Two Section Style */

.two {
    display: flex;
    flex-direction: column;
    background-color: var(--three);
    padding: 4em;
}

.two p {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
    opacity: .9;
}

.two span {
    text-align: end;
    font-weight: 500;
    font-size: 1em;
}

/* Three Section Style */

.three {
    padding-block: 2em;
    background-color: var(--two);
}

.three div {
    background-color: var(--four);
    border-radius: .5em;
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-block: 1em;
}

.three .left {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: initial;
    color: var(--two);
    gap: .3em;
}

.three .left h3 {
    font-size: 1em;
}

.three .left p {
    font-size: .9em;
    opacity: .9;
}

.three button {
    height: 2em;
    border-radius: .5em;
    background-color: var(--four);
    border: 2px solid var(--two);
    color: var(--two);
    padding-inline: 2em;
    font-size: .9em;
    font-weight: 700;
    align-self: center;
}